body {
	text-align:center;
	display:flex;
	padding:0;
}

main {
	
	display:flex;
	justify-content:center;
	align-items:center;
	height:95vh;
	width:30%;
	margin:auto;
}

#mainBox{
	display:flex;
	background-color:black;
	border:10px solid rgba(47, 47, 47, 1);	
	border-radius:4px;
	flex-direction:column;	
	margin:auto;
	height:70vh;
	width:80%;
}

#screen {
	display:flex;
	flex:1;	
	border-bottom:1px solid yellow;
}

#buttons {
	display:flex;
	flex:2;
	flex-direction:column;	
	justify-content:center;
	align-items:center;
}

.key{
	background-color:#ffd6e8;
}

